body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1em;
    background-color: #19191D;
}

.container {
    width: 100%;
    overflow: hidden;

}

.sidebar {
    background-color: #232328;
    width: 220px;
    height:150%;
    float: left;
}

.toppart {
    padding: 10px;
    color: white;
    font-size: 10px;
    padding: 25px;
    line-height: 1em;
}

.split {
    height: 3px;
    width: 100%;
    display: block;
    background-color: #FAA618;
}

.bottompart {
    padding: 10px;
    color: white;
}

ul {
    list-style-type: square;
}

li a {
    font-size: 16px;
    text-decoration: none;
    color: white;
    line-height: 2em;
    padding: 6px;
}

.box {
    margin-left: 245px;
    margin-top: 10px;
    width: 86%;
}

.boxcontent {
    text-shadow: 1px 1px 1px #000000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 18px;
    background-color: #FAA618;
    padding: 7px;
    border-radius: 7px;
}

.scripts {
    margin-left: 270px;
}

.scriptbox {
    background-color: #232328;
    border-radius: 5px;
    width: 50%;
    padding: 15px;
    margin-top: 15px;
    color: white;
}

.scriptbox a {
    color: #FAA618;
    text-decoration: none;
}

/* Lol */

.panelholder {
    width: 35%;
    float: right;
    margin-right: 3%;
    margin-top: 0.7%;
}

.pan-primary {
    border-color: #FAA618;
}

.pan {
    margin-bottom: 20px;
    border: 1px solid #FAA618;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    
}

.pan-primary .header {
    color: #fff;
    background-color: #FAA618;
    border-color: #FAA618;
}

.header {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-shadow: 1px 1px 1px #000000;
}

.body {
    padding: 15px;
    color: #fff;
    padding: 10px;
    background-color: #232328;
}

.bodyscroll {
    width: 100%;
    height: 50%;
    overflow-y: scroll;
    background-color: #232328;
    border-radius: 4px;
}
